---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";
import { SearchInput } from "@/components/SearchInput";

import Icon from "@/components/Icon.astro";

import daft1 from "@/public/daftpunktocat-thomas.gif";
---

<Layout title="GitHub Users Search">
  <div class="flex h-screen flex-col gap-8">
    <header class="bg-black p-4">
      <div
        class="container mx-auto flex flex-col items-center gap-6 md:flex-row"
      >
        <div class="flex flex-col items-center gap-2 md:flex-row">
          <Icon icon="githubLogo" size="1.8em" color="white" />
          <h1 class="text-xl font-bold text-white">GitHub User Search</h1>
        </div>
        <SearchInput client:load />
      </div>
    </header>

    <main class="p-4">
      <div class="container mx-auto flex flex-col justify-center">
        <div id="users-list" class="flex h-full flex-col gap-4">
          <h3 class="text-center text-lg font-semibold">
            Type a username in the search box above.
          </h3>
          <img
            src={daft1.src}
            alt="Search for users"
            class="mx-auto mt-24 aspect-square w-96 rounded-full"
          />
        </div>
      </div>
    </main>
  </div>
</Layout>
