---
import "@/styles/globals.css";

import { Picture } from "astro:assets";
import daft1 from "@/public/daftpunktocat-thomas.gif";

import Layout from "../layouts/Layout.astro";
import { Input } from "@/components/ui/input";

import Icon from "@/components/Icon.astro";
---

<Layout title="GitHub Users Search">
  <div class="flex h-screen flex-col gap-8">
    <header class="bg-black p-4">
      <div class="container mx-auto flex items-center gap-2">
        <Icon icon="githubLogo" size="1.8em" color="white" />
        <h1 class="text-xl font-bold text-white">GitHub User Search</h1>
        <Input
          type="search"
          name="query"
          placeholder="Search users on GitHub"
          hx-get="/partials/users/results"
          hx-trigger="keyup changed delay:300ms"
          hx-target="#users-list"
          hx-swap="innerHTML transition:true"
          className="ml-auto max-w-sm"
        />
      </div>
    </header>

    <main class="p-4">
      <div class="container mx-auto flex flex-col justify-center">
        <div id="users-list" class="flex h-full flex-col gap-4">
          <h3 class="text-center text-lg font-semibold">
            Type a username in the search box above.
          </h3>
          <img
            src={daft1.src}
            alt="Search for users"
            class="mx-auto mt-24 aspect-square w-96 rounded-full"
          />
        </div>
      </div>
    </main>
  </div>
</Layout>
